

h1 {
  font-family: 'Amatic SC', cursive;
  <!--font-weight: bold;-->
  color: #4B0082;
}

h2 > a, h3 > a
  {
    font-family: 'Amatic SC', cursive;
    color: #4B0082
  }

p {
  font-family: 'Amatic SC', cursive;
  color: #4B0082
}

.abouttext {
  font-size: 30px;
  text-align: left;
  padding-left: 50px;
  padding-right: 75px;
  text-align: justify;
  margin: 25px;
}

.aboutimg {
  padding-left: 50px;
}

.wid {
-moz-column-width: 100px;
-webkit-column-width: 100px;
column-width: 100px;
}

.navbar .nav > li > a {
    float: none;
    line-height: 19px;
    padding: 3px 3px 3px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color:  #4B0082;
}



.controls{
    width:50px;
    display:block;
    font-size:11px;
    padding-top:8px;
    font-weight:bold;
}
.next {
    float:right;
    text-align:right;
}

.previous {
  float: left;
  text-align: left;
}

ul {
  padding:0 0 0 0;
  margin:0 0 0 0;
  white-space: nowrap;
  width: 900 px;
  overflow-x: auto;

}
ul li {
  list-style:none;
  margin-bottom:25px;
  display: inline;
  width: 150px
  height: 150px;
}
ul li img {
  cursor: pointer;

}

ul.gallery {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    width: 900px;
    overflow-x: auto;
    background-color: #ddd;
  }
  ul.gallery li {
    display: inline;
    width: 150px;
    height: 150px;
  }

#contactform input {
}
