{% extends 'base.html' %}

{% block title %}
  Illustrations - {{block.super}}
{% endblock title %}




{% block content %}

   <ul class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Illustrations</h1>
        </div>
    </div>

    {% for upload_illustration in uploads_illustrations %}
    <div class="crop col-md-6 portfolio-item">
          <li><a href="#" class="thumbnail" >
              <img class="img-responsive myImg" src="{{upload_illustration.image.url}}" alt=""/>
            </a></li>
    </div>
    {% endfor %}
  </ul>
  <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
        </div>
      </div>
    </div>
  </div>

  <footer>
      <div class="row">
          <div class="col-lg-12">
              <p>Copyright &copy; Katie McCoy Turner 2016</p>
              <style>.ig-b- { display: inline-block; }
              .ig-b- img { visibility: hidden; }
              .ig-b-:hover { background-position: 0 -60px; } .ig-b-:active { background-position: 0 -120px; }
              .ig-b-32 { width: 32px; height: 32px; background: url(//badges.instagram.com/static/images/ig-badge-sprite-32.png) no-repeat 0 0; }
              @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
              .ig-b-32 { background-image: url(//badges.instagram.com/static/images/ig-badge-sprite-32@2x.png); background-size: 60px 178px; } }</style>
              <a href="https://www.instagram.com/katiemccoyturner/?ref=badge" class="ig-b- ig-b-32"><img src="//badges.instagram.com/static/images/ig-badge-32.png" alt="Instagram" /></a>
              </a>
          </div>
      </div>
  </footer>

{% endblock content %}
</div>
